#header{
    display: flex;
    background-color: rgb(65, 63, 63);
    color: whitesmoke;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    
}
#header ul{
    display: flex;
    gap: 50px;
    list-style-type: none;
}
#header a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#header a:hover{
    color: rgb(222, 8, 8);
    text-decoration: underline;
}
.main-container{
    display: flex;
    gap: 6px;
    /* padding: 5px; */
    /* border: 2px solid black; */
}
.Content-container section{
    border: 2px solid black;
    padding: 5px;
    width: 100%;
    border-radius: 35px;
    margin-right: 10px;
    background-color: rgb(240, 240, 240);
    margin-bottom: 5px;
    box-shadow: 5px 5px 5px grey;
}
.Content-container h3{
    text-align: center;
}
.Content-container article{
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    width: 100%;
    border-radius: 35px;
    margin-right: 10px;
    background-color: rgb(240, 240, 240);
    /* margin-bottom: 5px; */
    box-shadow: 5px 5px 5px grey;

}
.Content-container span{
    color: blue;
    font-weight: bold;
}
.Content-container{
    /* border: 2px solid black; */
    padding: 5px;
    width: 65%;
    border-radius: 35px;
    margin-right: 10px;
    /* background-color: rgb(240, 240, 240); */
    /* box-shadow: 5px 5px 5px grey; */
    /* margin-bottom: 5px; */
}
.main-container aside{
    border: 2px solid black;
    /* padding-top: 0.5%; */

    width: 35%;
    border-radius: 35px;
    /* margin-right: 5px; */
    background-color: rgb(240, 240, 240);
    box-shadow: 5px 5px 5px grey;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;

}
.main-container aside img{
    width: 100%;
    height: 100%;
    border-radius: 35px;
    margin-bottom: 0px;
}
footer{
    text-align: center;
    background-color: rgb(65, 63, 63);
    color: whitesmoke;
    padding: 10px;
    border-top: 2px solid black;
    margin-top: 5px;
    border-radius: 20px;
}
footer span{
    color: rgb(255, 0, 0);
    font-weight: bold;
}