.lin {
    padding: 2px;
}

#singer-img-id {
    height: 200px;
    width: 150px;
    margin: 8px;
}

.bod {
    background-color: rgb(0, 0, 0);
    color: whitesmoke
}

#navbar {
    background-color: rgb(255, 166, 0);
    width: 500px;
    height: 30px;
    padding-top: 10px
}

#tab {
    border-collapse: collapse;
}

thead {
    background-color: rgb(255, 196, 0);
}

#frm {
    border: 2px solid red;
    width: 700px;
    height: auto;
    margin: 10px;
    padding: 30px;
}


/* ========================================================= Login page styles ========================================================= */
#Login h1{
    margin-left: 44%;
    margin-top:5em;
}
#Login form{
    margin-left: 42%;
    margin-right: 42%;
    width: 200px;
    height: 8em;
    padding: 1%;
    border: 2px solid rgb(216, 216, 216);
    border-radius: 5%;
    font-size: 1.2em;
    background-color: rgb(247, 247, 247);
    /* background-color: rgb(216,216,216);
    margin-left: 42%;
    margin-right: 42%; */
}
#Login input[type="submit"]{
    background-color: rgb(255, 227, 14);
    border-radius: 5px;
    padding: 2%;
    margin-left: 32%;
    cursor: pointer;
    align-items: center;
}
#Login p{
    margin-left: 43%;
}

/* ========================================================= Signup page styles ========================================================= */

#SignUp h1{
    margin-left: 42%;
    margin-top:5em;
}

#SignUp form{
    margin-left: 32em;
    width: 200px;
    height: 15em;
    padding: 2%;
    border: 2px solid rgb(216, 216, 216);
    border-radius: 5%;
    font-size: 1.2em;
    background-color: rgb(247, 247, 247);
    
}
#SignUp form button{
    background-color: rgb(255, 166, 0);
    border-radius: 5px;
    padding: 2%;
    margin-left: 30%;
    cursor: pointer;
    align-items: center;
}
#SignUp p{
    margin-left: 42%;
}
