.Box_1{
    width: 200px;
    text-align: center;
    padding: 50px;
    border: 5px solid black;
    background-color: rgb(78, 208, 241);
    color: rgb(255, 255, 255);
    margin: 10px;
}

.Box_2{
    width: 300px;
    text-align: center;
    padding: 100px;
    border: 3px dashed rgb(255, 0, 0);
    background-color: rgb(204, 255, 0);
    color: rgb(248, 0, 0);
    margin: 20px;
}

.Box_3{
    width: 400px;
    text-align: center;
    padding: 150px;
    border: 7px dotted rgb(40, 171, 0);
    background-color: rgb(233, 139, 244);
    color: rgb(0, 0, 0);
    margin: 40px;
}
h1{
    color: red;
    text-align: center;
    /* background-color: aqua; */
}