.parent{
    height:100px;
    width: 100px;
    border-radius: 50%;
    /* background-color: red; */
    background: radial-gradient(yellow,orange,red);
    box-shadow:0px 0px 20px orange;
    animation-name: circle;
    position: relative;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
@keyframes circle {
    0%{
        left: 0px;
        top: 0px;
    }
    25%{
        left: 0px;
        top: 630px;
        background: repeating-radial-gradient(orange,red);
        box-shadow: 0px 0px 20px red;

    }
    50%{
        left: 1400px;
        top: 630px;
        background: linear-gradient(black,white);
        box-shadow: 0px 0px 20px white;
    }
    75%{
        left:1400px;
        top: 0px;
        background:radial-gradient(rgb(255, 254, 254),rgb(199, 195, 195),white);
        
        box-shadow: 0px 0px 20px white;
    }
    100%{
        left: 0px;
        top: 0px;
    }

}